/*#region*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* I added this */
*, *::before, *::after {
box-sizing: border-box;
}
/*#endregion*/



/* 
=======================================
FONTS
=======================================
*/

@font-face {
  font-family: 'inika-bold';
  src: url(./fonts/Inika-Bold.ttf);
}

@font-face {
  font-family: 'nunito';
  src: url(./fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: 'cantarell';
  src: url(./fonts/Cantarell-Regular.ttf);
}

/* 
=======================================
GENERIC ELEMENTS
=======================================
*/

h1 {
  font-size: 46px;
  margin: 0.2em 0;
}

h2 {
  /* box-shadow: 0 4px 0 #FC9E4F; */
  border-bottom: 4px #FC9E4F solid;
  font-size: 24px;
  margin: 0.5em 0;
  padding-bottom: 4px;
}

h3 {
  font-size: 18px;
  font-family: 'nunito';
  margin: 0.1em 0;
}

h1, h2 {
  font-family: 'inika-bold';
}

p, li {
  font-family: 'cantarell';
}

a {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 8.5in;
  padding: 0.1in 0.5in 0.5in 0.5in;
  max-height: 11in;
}

/* 
=======================================
HEADER
=======================================
*/

header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.name-section {
  text-align: center;
}

.contact-section {
  display: flex;
}

.contact-titles {
  margin-right: 1em;
}

.contact {
  font-size: 14px;
  margin: 0.75em 0;
}


/* 
=======================================
MAIN CONTENT
=======================================
*/

.main-section {
  background-color: #F8F7FF;
  margin: 0.5rem 0;
  padding: 0 0.2em;
  width: 100%;
}

  /* 
  =======================================
  About Me
  =======================================
  */

  .about-me {
    line-height: 1.1em;
    padding: 0 1em 0.4em 1em;
  }

  /* 
  =======================================
  DEVELOPMENT SKILLS
  =======================================
  */

  .skills {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    padding: 0 1em;
  }

  /* 
  =======================================
  PERSONAL PROJECTS
  =======================================
  */

  .projects {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em;
  }

  .project {
    max-width: 50%;
    padding: 0.5em;
    padding-left: 0;
  }

  .project-description {
    line-height: 1.1em;
    padding: 0.5em;
    padding-left: 0;
  }

  /* 
  =======================================
  CERTITICATIONS
  =======================================
  */

  .fcc-certifications {
    padding: 0 1em;
  }

  .certifications-list {
    display: flex;
    justify-content: space-between;
    padding: 0.75em 0;
  }

  .certifications-list > li {
    font-size: 14px;
  }